body{
    background-color: rgb(25, 25, 25);
}


.btn{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 1.25em;
    background-color:rgb(25, 25, 25) ;
    margin: 20px 15px;
    font-family: roboto;
    color: white;
    border: 3px solid whitesmoke;
}

.display-result{
    font-size: 1.25em;
    color: white;
    font-family: roboto;
    margin-bottom: 20px;
}

.display-score{
    font-size: 1.25em;
    color: white;
    font-family: roboto;
}